{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block main %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 d-flex justify-content-center ">
            {% for burger in burgers %}
                {% include('partials/_cardsBurger.html.twig') %}
            {% endfor %}
        </div>
    </div>

    <script>
        // Au chargement de la page je charge ma fonction
        window.addEventListener('load', () => {
            setUpClickEventAddItem();
        });

        //fonctions quand je clic
        function setUpClickEventAddItem() {
            //Écoute element grace à un data-attribute
            //(et par sécurité pour éviter les injections)
            let addToCartBTN = document.querySelectorAll('[data-add-burger-cart]');
            //Boucle sur le tableau data-attribute
            addToCartBTN.forEach(btn => {
                btn.addEventListener('click', function () {
                    const burgerDuration = btn.getAttribute('data-duration');
                    const burgerId = btn.getAttribute('data-add-burger-cart');
                    const isChecked = document.querySelector("[data-add-frie='" + burgerId + "']").checked;

                    const data = {
                        burgerId,
                        'fries': isChecked,
                        burgerDuration
                    };

                    fetch('/addBurgerToCart/' + JSON.stringify(data))
                        .then((response) => {
                            return response.json();
                        })
                    // .then(qty => {
                    //     let sideCardBurger = document.querySelector('.rondPriceBurger');
                    //
                    //     let test = parseInt(qty.newQty);
                    //
                    //     // console.log(test)
                    //     // if (test < 0 || isNaN(test) || test === null) {
                    //     //     console.log('pouet')
                    //     //     // sideCardBurger.style.visibility = "hidden"
                    //     // } else {
                    //     //     // sideCardBurger.innerHtml = '<div class="notifPanierBurger">' + `<p>${qty.newQty}</p>` + '</div>';
                    //     //     sideCardBurger.innerText = qty.newQty;
                    //     // }
                    //
                    // })
                })
            })
        }

    </script>

{% endblock %}
