{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block main %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 d-flex justify-content-center ">
            {% for burger in burgers %}
                {% include('partials/_cardsBurger.html.twig') %}
            {% endfor %}
        </div>
    </div>

    <script>
        // Au chargement de la page je charge ma fonction
        window.addEventListener('load', () => {
            setUpClickEventAddItem();
        });

        //fonctions quand je clic
        function setUpClickEventAddItem() {
            //Écoute element grace à un data-attribute
            //(et par sécurité pour éviter les injections)
            let addToCartBTN = document.querySelectorAll('[data-add-burger-cart]');
            //Boucle sur le tableau data-attribute
            addToCartBTN.forEach(btn => {
                btn.addEventListener('click', function () {
                    const burgerId = btn.getAttribute('data-add-burger-cart');
                    const isChecked = document.querySelector("[data-add-frie='"+burgerId+"']").checked;

                    const data = {
                        burgerId,
                        'fries': isChecked
                    };

                    fetch('/addBurgerToCart/' + JSON.stringify(data))
                    .then((response) => {
                        return response.json();
                    })
                    .then(qty => {
                        const sideCardBurger = document.querySelector('.CartSideQuantity');
                        console.log(sideCardBurger);
                        console.log( qty.newQty);
                        sideCardBurger.innerText = qty.newQty;
                    })
                })
            })
        }

        // J'AI ATTAQUE COMME CA MAIS C EST PLUS PROPRE AVEC FOREACH
        // if (checkbox) {
        //     for (let i = 0; i < checkbox.length; i++) {
        // //On selectionne l'Input
        //         let input = document.querySelector('.frites')
        //         input.addEventListener('change', function() {
        //             window.alert('testdemerde')
        //         })
        //     }
        // }

    </script>

{% endblock %}
