{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block main %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 d-flex justify-content-center ">
            {% for burger in burgers %}
                {% include('partials/_cardsBurger.html.twig') %}
            {% endfor %}
        </div>
    </div>

    <script>
        // Au chargement de la page je charge ma fonction
        window.addEventListener('load', () => {
            setUpClickEventAddItem();
        });

        //fonctions quand je clic
        function setUpClickEventAddItem() {

            //Ecoute l'element grace à un data-attribute
            // (et par sécurité pour éviter les injections)

            let checkbox = document.querySelectorAll('[data-url-redir]');

            //Boucle sur le tableau data-attribute
            checkbox.forEach(input => {
                input.addEventListener('change', function () {
                    const BurgerId = input.getAttribute('data-url-redir');
                    if (input.checked === true) {
                        let datasToSend = {
                            BurgerId,
                            'Frites': 1,
                        };
                        console.log('click')
                        console.log(BurgerId)
                        console.log(datasToSend)
                    } else {
                        console.log('unclick')
                    }
                })
            })
        }

        // if (checkbox) {
        //     for (let i = 0; i < checkbox.length; i++) {
        // //On selectionne l'Input
        //         let input = document.querySelector('.frites')
        //         input.addEventListener('change', function() {
        //             window.alert('testdemerde')
        //         })
        //     }
        // }

    </script>

{% endblock %}
