<footer class="text-white footer" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="d-flex justify-content-sm-between container pt-4">

        <section class="mb-4">

            <p class="adresseFooter text-black">
                <i class="fa-solid fa-burger"></i> 34 BURGER<br>
                34 Av. Joseph Claussat,<br>
                63550 Saint-Rémy-sur-Durolle
            </p>

        </section>

        <section class="alignementFooter">
                <h1 class="phoneFooter"><i class="fa-solid fa-phone"> 06 08 25 35 18</i></h1>
                <p>Ouvert du lundi au samedi de 18h30 - 22h00</p>
        </section>

        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
                ></a>

            <!-- Google -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-google"></i
                ></a>

            <!-- Instagram -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
                ></a>

        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright et Mentions Légales:
        <a class="text-dark" href="https://gite-bruyeres.fr/PortfolioFrancoisRIVIERE/">Frank RIVER</a>
    </div>
    <!-- Copyright -->
</footer>