{% extends '/base.html.twig' %}

{% block title %}New Burger{% endblock %}

{% block main %}
    <h1>Create new Burger</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('app_burger_index') }}">back to list</a>
{% endblock %}
